.download-preview {
  text-align: center;
}

.download-title {
  color: $dark-gray;
  padding-bottom: 0.5em;

  @include media($medium-screen-up) {
    padding-bottom: 1em;
  }
}

.download-subtitle {
  font-size: $base-font-size * 1.2;
  line-height: 1.9em;
  margin: 0 auto 1.5em;

  @include media($medium-screen-up) {
    margin-bottom: 3em;
    width: 34.375em;
  }
}

.download-cta {
  @include button-filled($secondary-accent-color);
}

.stickers-cta {
  @include button-filled($secondary-accent-color);
}

