<header class="hero" role="banner">
  <section class="wrap-container">
    <%= link_to image_tag("paperwork-logo.svg"), "#{locale_prefix}/",
      class: "hero-content-logo" %>
    <h2 class="hero-headline"><%= t("index.headline") %></h2>
    <h3 class="hero-description"><%= t("index.description") %></h3>

    <div class="hero-banner-container">

    <article class="centered-content">
      <%= link_to t("download.flatpak"),
        "https://flathub.org/repo/appstream/work.openpaper.Paperwork.flatpakref", class: "download-cta" %>
      <%= link_to t("download.windows"),
        "https://github.com/jflesch/paperwork/releases/download/1.2.2/paperwork_1.2.2_win64_installer.exe", class: "download-cta" %>
      <%= link_to t("download.others"),
        "#{locale_prefix}/download/", class: "secondary-cta" %>
    </article>

	</br>
    </div>
  </section>
</header>
