<footer class="c-site-frame__footer c-site-footer" role="contentinfo">
  <p>
    &copy; 2016&ndash;<%= Date.today.year %>
    <%= link_to "Open&nbsp;Paper", "//openpaper.work" %>
  </p>

  <p>
    <%= t("footer.powered") %>
  </p>

  <ul>
    <li>
      <%= link_to t("built.github"), "https://github.com/openpaperwork/paperwork" %>
    </li>
  </ul>
</footer>
