<div class="wrap-container">
  <section class="introduction">
    <div class="introduction-container">

      <div class="introduction-item second-graphic">
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-screenshot-find">
		  </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.first.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.first.description") %>
          </p>
        </div>
      </div>

      <div class="introduction-item third-graphic">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.second.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.second.description") %>
          </p>
        </div>
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-screenshot-sort">
		  </div>
        </div>
      </div>

      <div class="introduction-item fourth-graphic">
        <div class="introduction-item-graphic-wrapper">
		  <div class="introduction-screenshot-export">
		  </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.third.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.third.description") %>
          </p>
        </div>
      </div>

      <div class="introduction-item fifth-graphic">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.fourth.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.fourth.description") %>
          </p>
        </div>
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-screenshot-more">
		  </div>
        </div>
      </div>

    </div>
    <hr>
  </section>

  <section class="community-preview">
    <h4 class="community-title">
      <%= t("freesoftware.title") %>
    </h4>
    <h5 class="community-subtitle">
      <%= t("freesoftware.subtitle") %>
    </h5>
    <article class="centered-content">
      <%= link_to t("freesoftware.show"),
        "https://github.com/openpaperwork/paperwork", class: "primary-cta" %>
      <%= link_to t("freesoftware.why"),
        "#{locale_prefix}/freesoftware/", class: "secondary-cta" %>
    </article>
    <hr>
  </section>

  <section class="donate-preview">
    <h4 class="donate-title">
      <%= t("donate.title") %>
     </h4>
    <h5 class="donate-subtitle">
      <%= t("donate.subtitle") %>
     </h5>
     <article class="centered-content">
      <%= link_to t("index.donate"),
        "https://www.patreon.com/openpaper", class: "donate-cta", target: "_blank" %>
    </article>
    <hr>
  </section>


</div>
