// Typography
$sans-serif: $font-stack-system;
$monospace-font-family: $font-stack-consolas;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.2;
$h2-font-size: $base-font-size * 1.6;
$h3-font-size: $base-font-size * 1.3;
$h4-font-size: $base-font-size * 1.25;
$h5-font-size: $base-font-size * 1.15;
$h6-font-size: $base-font-size;

// Font Weights
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #4a4e56;
$medium-gray: #999;
$paper-turquoise: #a1d4cf;

// Middleman colors
$mm-yellow: #fbc547;
$mm-navy: #446184;
$mm-slate-gray: #8990a1;
$mm-light-gray: #c0c0c0;
$mm-blue: #4280ca;

// Font Colors
$base-font-color: shade($mm-slate-gray, 65%);
$base-accent-color: $paper-turquoise;
$header-font-color: $dark-gray;
$secondary-accent-color: $mm-blue;

// Link Colors
$base-link-color: $secondary-accent-color;
$hover-link-color: darken($base-link-color, 15%);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Background Color
$base-hero-color: $base-accent-color;

// Border color
$base-border-color: tint($mm-light-gray, 75%);
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($base-accent-color, $lightness: -5%, $alpha: -0.3);

// Browser Colors
$browser-bar-color: #dedede;
$browser-body-color: $dark-gray;
