.community-main-icon {
  background: image-url("community-main-icon.svg") no-repeat;
  background-size: 9em;
  height: 7.5em;
  margin: 0.5em auto 0;
  text-align: center;
  width: 9.0625em;
}

.community-main-title {
  margin-top: 1.5em;
  padding-bottom: 1em;
}

.contributions-title {
  color: $dark-gray;
  font-size: $base-font-size * 1.5;
  padding-bottom: 1em;

  @include media($medium-screen-up) {
    padding-bottom: 1em;
  }
}

.contributions-feature-header {
  color: $dark-gray;
  font-size: $base-font-size * 1.2;
  margin: 0.5em 0;
}

.community-cta {
  @include button-filled($secondary-accent-color);
}
.download-cta {
  @include button-outline("fill", $secondary-accent-color, $base-accent-color);
}
.primary-cta {
  @include button-filled($secondary-accent-color);
}
.secondary-cta {
  @include button-outline("darken", $secondary-accent-color);
}

.contributions-feature-icon-wrapper img {
  width: 6rem;
}

.contributions-feature-item {
  margin-bottom: 2em;
  padding: 1em 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @include media($large-screen-up) {
    @include span-columns(4 of 12);
    @include shift(0);
    margin-bottom: 0;
  }
}

.forum {
  background-color: $mm-navy;
  padding: 4em 0;
  margin: 6em 0;
}

.forum-item-graphic-wrapper,
.forum-text-wrapper {
  padding: 0;

  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    @include omega(2n);
    padding: 2em;
  }
}

.forum-item-graphic-wrapper {
  margin: 0 auto;
  display: none;

  @include media($medium-screen-up) {
    display: block;
    float: right;
  }
}

.forum-browser {
  width: 18.75em;

  @include media($medium-screen-up) {
    width: auto;
  }

}
.forum-text-wrapper {
  color: white;
  text-align: center;

  .contributions-title {
    color: white;
  }

  @include media($medium-screen-up) {
    text-align: left;
  }
}

.forum-item-text {
  font-size: $base-font-size;
  padding: 0 0 1em;
}

.forum-cta {
  @include button-outline("fill", white, $mm-navy);
}

.logos-title {
  padding-bottom: 2em;
}

.logo-block {
  text-align: center;
}

.logo-block li {
  display: inline-block;
}

.logo-block img {
  width: 200px;
}
